@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
input::-webkit-contacts-auto-fill-button {visibility:hidden;display:none !important;pointer-events:none;position:absolute;right:0}
button{border:0 none;border-radius:0;background-color:transparent;cursor:pointer}
body{word-wrap:break-word;word-break:keep-all}
body,th,td,input,select,textarea,button{font-size:16px;font-family:'NotoSans Light','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo','돋움',dotum, sans-serif;color:#666}
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
table{border-spacing:0}
.hide_txt{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.hide_label{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

.sub_contents{width:100%;overflow:hidden}
.sub_contents_inner{width:1200px;margin:0 auto;padding-top:100px}
.sub_tit_area{text-align:center}
.sub_tit_area > h2{display:inline-block;font-size:25px;font-weight:bold;color:#000}